.landing{
    margin-top: -7rem;
    margin-left: 6.5rem;
    margin-right: 6.5rem;
}
.image1{
    margin-left: 5.0rem;
}
.image{
    margin-left: 5.0rem;
}
.auth{
    font-size: 16px;
    margin-top: 2%;
    margin-right: 9%;
}
// .cont{
//     margin-top: -10%;
// }
// .cont1{
//     margin-top: -13%;
// }
// .pop{
//     margin-top: 13%;
// }
